#           _ __  _                           
#    ____ _(_) /_(_)___ _____  ____  ________ 
#   / __ `/ / __/ / __ `/ __ \/ __ \/ ___/ _ \
#  / /_/ / / /_/ / /_/ / / / / /_/ / /  /  __/
#  \__, /_/\__/_/\__, /_/ /_/\____/_/   \___/ 
# /____/        /____/                        
#

# Neovim specific
session.vim
undo/*

# Temporary files
*.swp
*.swo
*.swn
*.bak
*.tmp

# Backup files
*.bak
*~

# Compiled files
*.o
*.obj
*.dll
*.so
*.dylib
*.bin
*.exe
*.out

# Lua cache
*.luac
cache/
.luarc.json
